<div class="sidebar">
  <div class="section">
    <h2>Médecin</h2>

    <div class="menu-item" routerLink="/doctor" routerLinkActive="active">
      <span class="menu-icon">📄</span>
      <span class="menu-text">Rapports</span>
      <span class="badge">24</span>
    </div>

    <div class="menu-item" routerLink="/doctor/calls" routerLinkActive="active">
      <span class="menu-icon">▶</span>
      <span class="menu-text">Appels</span>
    </div>
  </div>

  <div class="section">
    <h2>CHU de Nice</h2>
    <div class="menu-item" routerLink="/nice/doctor" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">Rapports</span>
    </div>
    <div class="menu-item" routerLink="/nice/staff" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">Personnel</span>
    </div>
    <div class="menu-item" routerLink="/nice/ems" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">SMUR</span>
    </div>
  </div>

  <div class="section">
    <h2>Hopital Lenval</h2>
    <div class="menu-item" routerLink="/lenval/doctor" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">Rapports</span>
    </div>
    <div class="menu-item" routerLink="/lenval/staff" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">Personnel</span>
    </div>
    <div class="menu-item" routerLink="/lenval/pediatrics" routerLinkActive="active">
      <span class="menu-icon">📁</span>
      <span class="menu-text">Pédiatrie</span>
    </div>
  </div>
</div>
