<div class="sidebar">
  Médecin

  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <button class="sidebar-button"  color="primary" routerLink="/doctor" routerLinkActive="active">Rapports</button>
    <button class="sidebar-button"  color="primary" routerLink="/doctor/calls">Appels</button>
  </div>
  <mat-divider></mat-divider>

  CHU de Nice
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <button class="sidebar-button"  color="primary" routerLink="/nice/doctor">Rapports</button>
    <button class="sidebar-button"  color="primary" routerLink="/nice/staff">Personnel</button>
    <button class="sidebar-button"  color="primary" routerLink="/nice/ems">SMUR</button>
  </div>
  <mat-divider></mat-divider>

  Hopital Lenval
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <button class="sidebar-button"  color="primary" routerLink="/lenval/doctor">Rapports</button>
    <button class="sidebar-button"  color="primary" routerLink="/lenval/staff">Personnel</button>
    <button class="sidebar-button"  color="primary" routerLink="/lenval/ems">SMUR</button>
  </div>
</div>
